.login {
  padding: 50px 0;

}

.card {
  width: 500px;
  margin: auto;
  padding: 20px;
  border: none;
  background: linear-gradient(90deg, hsla(217, 60%, 20%, 1) 8%, hsla(230, 25%, 35%, 1) 100%);
}

@media(max-width: 557px) {
  .login {
    padding: 0;
  }

  .card {
    width: 85%;
    margin: 20px auto
  }
}

.card h1,
h5,
label {
  padding-left: 5px;
  color: white
}

.card .form-text {
  color: #ccc;
}
